<form (ngSubmit)="add()" style="min-width: 400px; width: 750px">
  <mat-toolbar color="primary">
    <h2>Add New Webhook</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading"
  ></mat-progress-bar>
  <div style="height: 4px" *ngIf="!isLoading"></div>
  <div mat-dialog-content>
    <div class="search-container" appearance="outline">
      <mat-form-field class="dropdown-small">
        <mat-label>Search By</mat-label>
        <mat-select
          [(value)]="searchType"
          (selectionChange)="onSearchTypeChange($event)"
        >
          <mat-option value="name">Name</mat-option>
          <mat-option value="prefix">Prefix</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="search-input">
        <mat-label>Target Flows</mat-label>
        <input
          matInput
          placeholder="Search..."
          [matAutocomplete]="auto"
          (input)="onDropdownSearch($event.target.value)"
        />
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionSelected)="onOptionSelected($event)"
        >
          <mat-option
            *ngFor="let target of filteredOptions"
            [value]="target.id"
          >
            {{ target.full_name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <mat-form-field>
      <mat-label>Prefix</mat-label>
      <input matInput [value]="selectedPrefix" name="prefix" disabled />
    </mat-form-field>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary" type="button" (click)="cancel()">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isLoading || !selectedTarget"
    >
      Add
    </button>
  </div>
</form>
