<form style="min-width: 30rem">
  <mat-toolbar color="primary">
    <h2>Export Data</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <div mat-dialog-content>
    <mat-form-field appearance="outline" class="mat-block">
      <mat-label>Name</mat-label>
      <input
        matInput
        [(ngModel)]="exportDataForm.name"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Enter export name"
        required
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="mat-block">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        [(ngModel)]="exportDataForm.description"
        [ngModelOptions]="{ standalone: true }"
        placeholder="Enter a brief description"
        maxlength="500"
        rows="4"
      ></textarea>
      <mat-hint align="end">
        {{ exportDataForm.description?.length || 0 }} / 500
      </mat-hint>
    </mat-form-field>

    <h4>Select Flows</h4>

    <!-- Scrollable wrapper -->
    <div class="tree-scroll-container">
      <mat-tree
        [dataSource]="flowTreeDataSource"
        [treeControl]="treeControl"
        class="example-tree"
      >
        <mat-nested-tree-node
          *matTreeNodeDef="let node; when: hasChild"
          [matTreeNodePadding]="{ indent: 24 }"
        >
          <div class="mat-tree-node-content">
            <button mat-icon-button matTreeNodeToggle (click)="maybeFetchChildren(node)">
              <mat-icon>{{ treeControl.isExpanded(node) ? "expand_more" : "chevron_right" }}</mat-icon>
            </button>
            <mat-checkbox
              (change)="toggleSelection(node)"
              [checked]="isSelected(node)"
              [indeterminate]="isIndeterminate(node)"
            >
              {{ node.name }}
            </mat-checkbox>
          </div>
          <div
            [class.example-tree-invisible]="!treeControl.isExpanded(node)"
            class="mat-tree-node-children"
          >
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </mat-nested-tree-node>

        <mat-tree-node
          *matTreeNodeDef="let node; when: !hasChild"
          [matTreeNodePadding]="{ indent: 24 }"
        >
          <div class="mat-tree-node-content">
            <mat-checkbox
              (change)="toggleSelection(node)"
              [checked]="isSelected(node)"
            >
              {{ node.name }}
            </mat-checkbox>
          </div>
        </mat-tree-node>
      </mat-tree>
    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="export()">Export</button>
    <button mat-raised-button (click)="cancel()">Cancel</button>
  </div>
</form>
