<mat-drawer-container hasBackdrop="false" class="tb-absolute-fill">
  <mat-drawer-content>
    <div class="mat-padding tb-entity-table tb-absolute-fill">
      <div fxLayout="row" class="tb-entity-table-content tb-outlined-border">
        <div fxFlex="30" class="tree-container scrollable-container">
          <mat-form-field appearance="outline">
            <mat-label>Search Folders</mat-label>
            <input matInput (input)="filterNodes($event.target.value)" placeholder="Search folders...">
          </mat-form-field>
          <mat-tree
            [dataSource]="filteredTreeDataSource"
            [treeControl]="treeControl"
            class="example-tree"
          >
            <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
              <div class="mat-tree-node-content hover-pointer" (click)="onNodeSelect(node)">
                <button mat-icon-button disabled></button>
                <span class="mat-tree-node-label" [innerHTML]="highlightText(node.name, searchQuery)"></span>
                <button
                  mat-icon-button
                  class="mat-tree-node-actions"
                  (click)="copyId(node.id)"
                >
                  <mat-icon>content_copy</mat-icon>
                </button>
              </div>
            </mat-tree-node>
            <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
              <div class="mat-tree-node-content hover-pointer" (click)="onNodeSelect(node)">
                <button
                  mat-icon-button
                  matTreeNodeToggle
                  [attr.aria-label]="'toggle ' + node.name"
                >
                  <mat-icon>
                    {{
                      treeControl.isExpanded(node)
                        ? "expand_more"
                        : "chevron_right"
                    }}
                  </mat-icon>
                </button>
                <span class="mat-tree-node-label" [innerHTML]="highlightText(node.name, searchQuery)"></span>
                <button
                  mat-icon-button
                  class="mat-tree-node-actions"
                  (click)="copyId(node.id)"
                >
                  <mat-icon>content_copy</mat-icon>
                </button>
              </div>
              <div
                class="mat-tree-node-children"
                [class.example-tree-invisible]="!treeControl.isExpanded(node)"
              >
                <ng-container matTreeNodeOutlet></ng-container>
              </div>
            </mat-nested-tree-node>
          </mat-tree>
        </div>
        <div fxFlex="70" class="table-container">
          <mat-toolbar>
            <span>Files</span>
            <span fxFlex></span>
            <button mat-raised-button color="primary" (click)="openAddFileDialog()" style="margin:10px">
              Upload File
            </button>
            <button mat-raised-button color="primary" (click)="openCreateTagDialog()">
              Create New Tag
            </button>
          </mat-toolbar>
          <mat-table [dataSource]="selectedFiles" matSort class="mat-elevation-z8">
            <ng-container matColumnDef="filename">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Filename </mat-header-cell>
              <mat-cell *matCellDef="let file"> {{ file.name }} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="tags">
              <mat-header-cell *matHeaderCellDef> Tags </mat-header-cell>
              <mat-cell *matCellDef="let file">
                <ng-container *ngIf="file.tags && file.tags.length > 0">
                  <span *ngFor="let tag of file.tags">{{ tag.full_name }}</span>
                </ng-container>
                <ng-container *ngIf="!file.tags || file.tags.length === 0">
                  No tags
                </ng-container>
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let file">
                <button mat-button (click)="openFile(file.url)">
                  Open File
                </button>
                <button mat-button (click)="deleteFile(file.id)">
                  Delete
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
          </mat-table>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
