<form
  [formGroup]="form"
  (ngSubmit)="submit()"
  style="min-width: 400px; width: 750px"
>
  <mat-toolbar color="primary">
    <h2>{{ isEdit ? "Edit KPI" : "Add New KPI" }}</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading"
  ></mat-progress-bar>
  <div style="height: 4px" *ngIf="!isLoading"></div>

  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Enter KPI Name"
        formControlName="name"
        required
      />
      <mat-error *ngIf="submitted && form.get('name')?.invalid">
        Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Enter Description"
        formControlName="description"
        required
      ></textarea>
      <mat-error *ngIf="submitted && form.get('description')?.invalid">
        Description is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Input Telemetry</mat-label>
      <input
        matInput
        placeholder="Enter Input Telemetry"
        formControlName="inputTelemetry"
        required
      />
      <mat-error *ngIf="submitted && form.get('inputTelemetry')?.invalid">
        Input Telemetry is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Output Telemetry</mat-label>
      <input
        matInput
        placeholder="Enter Output Telemetry"
        formControlName="outputTelemetry"
        required
      />
      <mat-error *ngIf="submitted && form.get('outputTelemetry')?.invalid">
        Output Telemetry is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Folder</mat-label>
      <mat-select formControlName="prefix" required>
        <mat-option *ngFor="let prefix of prefixes" [value]="prefix.uuid">
          {{ prefix.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="submitted && form.get('prefix')?.invalid">
        Folder is required.
      </mat-error>
    </mat-form-field> 

    <div style="height: 300px; overflow: auto;">
      <ngx-monaco-editor
        #editor
        [options]="editorOptions"
        [(ngModel)]="code"
        [ngModelOptions]="{ standalone: true }"
      ></ngx-monaco-editor>
    </div>
  </div>

  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary" type="button" (click)="cancel()">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isLoading"
    >
      {{ isEdit ? "Save" : "Add" }}
    </button>
  </div>
</form>