<form [formGroup]="form" (ngSubmit)="add()">
  <mat-toolbar color="primary">
    <h2>Add Function</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar
    color="warn"
    mode="indeterminate"
    *ngIf="isLoading"
  ></mat-progress-bar>
  <div style="height: 4px" *ngIf="!isLoading"></div>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Enter Name"
        formControlName="name"
        required
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Enter Description"
        formControlName="description"
      ></textarea>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Inputs (comma-separated)</mat-label>
      <input matInput placeholder="Enter Inputs" formControlName="inputs" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Outputs (comma-separated)</mat-label>
      <input matInput placeholder="Enter Outputs" formControlName="outputs" />
    </mat-form-field>

    <div style="height: 300px">
      <ngx-monaco-editor
        #editor
        [options]="editorOptions"
        [(ngModel)]="code"
        [ngModelOptions]="{ standalone: true }"
      ></ngx-monaco-editor>
    </div>
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary" type="button" (click)="cancel()">
      Cancel
    </button>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="isLoading"
    >
      Add
    </button>
  </div>
</form>
