<form *ngIf="!isEdit; else editTemplate" (ngSubmit)="add()" style="min-width: 400px; width: 750px;">
  <mat-toolbar color="primary">
    <h2>Add New Flow</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()" type="button">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
  <div style="height: 4px;" *ngIf="!isLoading"></div>
  <div mat-dialog-content>
    <mat-form-field>
      <mat-label>Flow Name</mat-label>
      <input matInput placeholder="Enter Flow Name" [(ngModel)]="flowName" name="flowName" required />
      <mat-error *ngIf="submitted && !flowName">Flow Name is required.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Enter Description" [(ngModel)]="description" name="description" required></textarea>
      <mat-error *ngIf="submitted && !description">Description is required.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Environment</mat-label>
      <mat-select [(ngModel)]="selectedEnv" name="environment" required>
        <mat-option *ngFor="let env of environments" [value]="env.id">{{ env.name }}</mat-option>
      </mat-select>
      <mat-error *ngIf="submitted && !selectedEnv">Environment is required.</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Folder</mat-label>
      <input matInput [value]="selectedPrefix" name="prefix" disabled />
    </mat-form-field>
    <mat-form-field>
      <mat-label>DAG Configuration (JSON)</mat-label>
      <textarea
        matInput
        [(ngModel)]="dagConfig"
        name="dagConfig"
        rows="6"
        placeholder='{"schedule": "..."}'
      ></textarea>
      <div *ngIf="!is_valid_json">
        Invalid JSON format.
      </div>
    </mat-form-field>    
  </div>
  <div mat-dialog-actions fxLayoutAlign="end center">
    <button mat-button color="primary" type="button" (click)="cancel()">Cancel</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="isLoading || !flowName || !description || !selectedEnv">
      Add
    </button>
  </div>
</form>

<ng-template #editTemplate>
  <form (ngSubmit)="edit()" style="min-width: 400px; width: 750px;">
    <mat-toolbar color="primary">
      <h2>Edit Flow</h2>
      <span fxFlex></span>
      <button mat-icon-button (click)="cancel()" type="button">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>
    <mat-progress-bar color="warn" mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
    <div style="height: 4px;" *ngIf="!isLoading"></div>
    <div mat-dialog-content>
      <mat-form-field>
        <mat-label>Flow Name</mat-label>
        <input matInput placeholder="Enter Flow Name" [(ngModel)]="flowName" name="flowName" required />
        <mat-error *ngIf="submitted && !flowName">Flow Name is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput placeholder="Enter Description" [(ngModel)]="description" name="description" required></textarea>
        <mat-error *ngIf="submitted && !description">Description is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Environment</mat-label>
        <mat-select [(ngModel)]="selectedEnv" name="environment" required>
          <mat-option *ngFor="let env of environments" [value]="env.id">{{ env.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="submitted && !selectedEnv">Environment is required.</mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Folder</mat-label>
        <mat-select [(ngModel)]="selectedPrefix" name="prefix" required>
          <mat-option *ngFor="let prefix of prefixes" [value]="prefix.id">{{ prefix.full_name }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>DAG Configuration (JSON)</mat-label>
        <textarea
          matInput
          [(ngModel)]="dagConfig"
          name="dagConfig"
          rows="6"
          placeholder='{"schedule": "..."}'
        ></textarea>
        <div *ngIf="!is_valid_json">
          Invalid JSON format.
        </div>
      </mat-form-field>      
    </div>
    <div mat-dialog-actions fxLayoutAlign="end center">
      <button mat-button color="primary" type="button" (click)="cancel()">Cancel</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="isLoading">
        Save
      </button>
    </div>
  </form>
</ng-template>
