<mat-drawer-container hasBackdrop="false" class="tb-absolute-fill">
  <mat-drawer-content>
    <div class="mat-padding tb-entity-table tb-absolute-fill">
      <div fxLayout="column" class="tb-entity-table-content tb-outlined-border">
        <mat-toolbar class="mat-mdc-table-toolbar">
          <div class="mat-toolbar-tools">
            <div
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayout.xs="column"
              fxLayoutAlign.xs="center start"
              class="title-container"
            >
              <span class="tb-entity-table-title">Flow List</span>
              <button
                mat-icon-button
                (click)="openAddFlowDialog()"
                aria-label="Add new flow"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
            <span fxFlex></span>
          </div>
        </mat-toolbar>

        <div fxFlex class="table-container">
          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            matSort
            (matSortChange)="sortData($event)"
          >
            <!-- Flow ID Column -->
            <ng-container matColumnDef="id">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Flow ID
              </mat-header-cell>
              <mat-cell *matCellDef="let flow"> {{ flow.id | slice:0:7 }} </mat-cell>
            </ng-container>

            <!-- Flow Name Column -->
            <ng-container matColumnDef="name">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Flow Name
              </mat-header-cell>
              <mat-cell *matCellDef="let flow"> {{ flow.name }} </mat-cell>
            </ng-container>

            <!-- Flow Description Column -->
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Description
              </mat-header-cell>
              <mat-cell *matCellDef="let flow">
                {{ flow.description }}
              </mat-cell>
            </ng-container>

            <!-- Environment Column -->
            <ng-container matColumnDef="environment">
              <mat-header-cell *matHeaderCellDef mat-sort-header>
                Environment
              </mat-header-cell>
              <mat-cell *matCellDef="let flow">
                {{ flow.environment.name }}
              </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
              <mat-cell *matCellDef="let flow">
                <button
                  mat-button
                  (click)="
                    export_flow($event, flow.id)
                  "
                >
                  Export
                </button>
              </mat-cell>
            </ng-container>

            <mat-header-row
              *matHeaderRowDef="displayedColumns"
            ></mat-header-row>
            <mat-row
              *matRowDef="let row; columns: displayedColumns"
              (click)="openFlow(row.id)"
              class="mat-row"
              [ngClass]="{
                'mat-row-select': true,
                'mat-selected': false,
                'tb-pointer': true
              }"
            >
            </mat-row>
          </table>
        </div>

        <mat-divider></mat-divider>

        <mat-paginator
          [length]="totalFlows"
          [pageIndex]="pageIndex"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 25, 100]"
          showFirstLastButtons
          (page)="handlePageEvent($event)"
        >
        </mat-paginator>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
