
<div class="mat-padding tb-entity-table tb-absolute-fill">
  <div class="button-container">
    <button (click)="openAddNewNodeDialog()">Add New Node</button>
    <button (click)="openAddFunctionDialog()">Add Function</button>
    <button (click)="saveToBackend()">Save Flow</button>
    <button (click)="executeFlow()">Execute Flow</button>
    <div *ngIf="isLoading">Loading...</div>
    <div *ngIf="executionTime !== undefined">
      Execution time: {{ executionTime }} seconds
    </div>
    <div *ngIf="executionStatus">{{ executionStatus }}</div>
  </div>
  <reactflow-wrapper
    [nodes]="nodes"
    [edges]="edges"
    [openEditingDialogBox]="openEditingDialogBox"
    (nodesChange)="onNodesChange($event)"
    (edgesChange)="onEdgesChange($event)"
    (connectionsChange)="onConnect($event)"
    (positionChange)="onPositionChange($event)"
    (onOpenEditingDialogBox)="onOpenEditingDialogBox($event)"
  ></reactflow-wrapper>
</div>
