<form [formGroup]="createPrefixFormGroup" (ngSubmit)="createOrUpdatePrefix()">
  <mat-toolbar color="primary">
    <h2 *ngIf="!isEditMode">Add Folder</h2>
    <h2 *ngIf="isEditMode">Edit Folder</h2>
    <span fxFlex></span>
    <button mat-icon-button (click)="cancel()" type="button">
      <mat-icon class="material-icons">close</mat-icon>
    </button>
  </mat-toolbar>

  <div mat-dialog-content>
    <fieldset>
      <mat-form-field class="mat-block">
        <mat-select
          formControlName="parentPrefix"
          placeholder="Select Parent Folder"
        >
          <mat-option [value]="null">No Parent</mat-option>
          <mat-option *ngFor="let prefix of parentPrefixes" [value]="prefix.id">
            {{ prefix.full_name }}
          </mat-option>
        </mat-select>
        <mat-error
          *ngIf="createPrefixFormGroup.get('parentPrefix').hasError('required')"
        >
          Parent folder is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field class="mat-block">
        <input
          matInput
          formControlName="prefixName"
          placeholder="Folder Name"
        />
        <mat-error
          *ngIf="createPrefixFormGroup.get('prefixName').hasError('required')"
        >
          Folder name is <strong>required</strong>
        </mat-error>
      </mat-form-field>
    </fieldset>
  </div>

  <div mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">
      {{ isEditMode ? "Update Folder" : "Add Folder" }}
    </button>
  </div>
</form>
